@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "D2Coding";
  font-weight: 200;
  src: url("./assets/fonts/D2Coding.ttf") format("truetype");
}

p {
  padding: 0;
  margin: 0;
  color: #fff;
}